@tailwind base;
@tailwind components;
@tailwind utilities;

/* Create font face for Lato-Regular.ttf*/
@font-face {
    font-family: 'Lato';
    src: url("../../fonts/Lato-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/Poppins/Poppins-Thin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/Poppins/Poppins-ExtraLight.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/Poppins/Poppins-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/Poppins/Poppins-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/Poppins/Poppins-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/Poppins/Poppins-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/Poppins/Poppins-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/Poppins/Poppins-ExtraBold.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../../fonts/Poppins/Poppins-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../../fonts/Ubuntu/Ubuntu-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../../fonts/Ubuntu/Ubuntu-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../../fonts/Ubuntu/Ubuntu-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../../fonts/Ubuntu/Ubuntu-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat/Montserrat-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat/Montserrat-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat/Montserrat-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat/Montserrat-ExtraBold.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat/Montserrat-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

@layer base {
    /* set the global font */
    body {
        font-family: 'Montserrat', sans-serif;
    }
}

/* custom css */
/* add a background gradient to the body */
/*body {*/
/*    !*background: #209aaa;*!*/
/*    background: linear-gradient(to bottom, white, #d2f2f7);*/
/*    !*@apply bg-slate-100;*!*/
/*    !*  set the global font *!*/
/*}*/

@layer components {

    .combobox .group.focus {
        /*@apply bg-white;*/
        @apply list-none;
        @apply focus:outline-none;
        @apply focus:ring-2;
    }

    .combobox button[aria-expanded="true"] span.material-icons-outlined {
        @apply transform;
        @apply rotate-180;
    }

    [role="listbox"].focus [role="option"][aria-selected="true"] {
        @apply bg-cyan-400;
        @apply text-white;
        @apply font-semibold;
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        @apply w-2.5;
        @apply h-1;
        @apply hidden;
    }

    .scrollbar::-webkit-scrollbar-track {
        @apply bg-zinc-200;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        @apply bg-zinc-300;
        @apply rounded;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-zinc-400;
    }

    .scrollbar::-webkit-scrollbar-thumb:active {
        @apply bg-zinc-500;
    }

    .carousel {
        transition: left 0.5s ease-out; /* add a transition for the sliding animation */
    }

    .dt-buttons {
        @apply inline-flex;
    }
}

@keyframes waves {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.waves:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #fff, transparent);
    animation: waves 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

#search-icon {
    transition: all 0.2s ease-in-out;
}

/* Data Table */

#agents-table_paginate{
/*  This is the pagination wrapper  */
    @apply flex items-center justify-between px-4 py-2 text-sm;
    /* style the middle part of the pagination excluding the previous and next buttons */
}

.dataTables_paginate > a.paginate_button:first-of-type {
   @apply px-4 py-2 text-sm font-semibold text-primary bg-white first:border-r-0 first:border-y first:border-l border-primary first:rounded-l-lg hover:text-white hover:bg-primary focus:z-10 focus:ring-2 focus:ring-primary focus:text-primary focus:outline-none;
}

.dataTables_paginate > a.paginate_button:last-of-type {
   @apply px-4 py-2 text-sm font-semibold text-primary bg-white last:border-l-0 last:border-y last:border-r border-primary last:rounded-r-lg hover:text-white hover:bg-primary focus:z-10 focus:ring-2 focus:ring-primary focus:text-primary focus:outline-none;
}

.dataTables_paginate > span > a.paginate_button {
    @apply px-4 py-2 text-sm font-semibold text-primary bg-white border-primary border hover:text-white hover:bg-primary focus:z-10 focus:ring-2 focus:ring-primary focus:text-primary focus:outline-none;
}

.dataTables_paginate > span > a.paginate_button.current {
    @apply px-4 py-2 text-sm font-semibold text-white bg-primary border-primary border hover:text-white hover:bg-primary focus:z-10 focus:ring-2 focus:ring-primary focus:text-primary focus:outline-none;
}

@layer utilities {
    .shadow-top {
        box-shadow: 0 0 0 #888, 0 -2px 30px rgba(79, 79, 79, 0.25)
        /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);*/
    }

    /* Data Table */
    /* The row selected */
    tr.selected {
        @apply bg-soko-200;
    }

    table.dataTable tbody tr.selected>* {
        @apply bg-soko-100;
    }
}
